<form action="">
    <div class="ingredients-container">
        <div class="placeholder-item">
            <i class="fa-duotone fa-down-to-bracket"></i>
            <span>Drag & Drop ingredients here</span>
        </div>
    </div>
    <p class="notes">{{localize "mastercrafted.cauldronApp.hint"}}</p>
    <footer>
        <button><i class="fad fa-cauldron"></i> Mix ingredients</button>
    </footer>
</form>