.recipe-description {
    margin: 0;
    font-size: smaller;
    line-height: normal;
    font-style: italic;
    color: var(--color-text-light-4);
    white-space: break-spaces;
}

#mastercrafted-recipeApp #filter {
    position: absolute;
    right: 1rem;
    color: var(--color-text-dark-secondary);
    cursor: pointer;
    align-self: center;
}

#mastercrafted-recipeApp .recipe-book-img {
    border-radius: 5px;
    margin: 0 0.3rem;
}

#mastercrafted-recipeApp .recipe {
    flex-direction: row;
    align-items: center;
}

#mastercrafted-recipeApp .recipe-img {
    flex: 0 0 1.5rem;
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 2px;
    margin: 0 0.3rem;
}

#mastercrafted-recipeApp .recipe-img.can-craft {
    border: 1px solid var(--color-level-info);
    animation: box-shadow-pulse 1s infinite alternate;
}

#mastercrafted-recipeApp button.create {
    margin: 0.5rem 0.5rem;
}

#mastercrafted-recipeApp .recipe .page-title:hover {
    cursor: pointer;
    color: inherit;
    text-shadow: 0 0 8px var(--color-shadow-primary);
}

#mastercrafted-recipeApp.sheet.journal-entry .pages-list .page-heading.recipe-book-header {
    overflow: visible;
}

#mastercrafted-recipeApp .headings.recipe-list {
    display: none;
}

#mastercrafted-recipeApp .expanded .headings.recipe-list,
#mastercrafted-recipeApp .force-expanded .headings.recipe-list {
    display: block;
}

#mastercrafted-recipeApp .expanded,
#mastercrafted-recipeApp .force-expanded {
    background-color: rgba(255, 255, 255, 0.1);
}

#mastercrafted-recipeApp .mastercrafted-recipe.hidden {
    display: none;
}

#mastercrafted-recipeApp .mastercrafted-recipe-header .title {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#mastercrafted-recipeApp .mastercrafted-recipe-header p {
    margin: 0 1rem;
    color: var(--color-text-dark-6);
    font-size: smaller;
}

#mastercrafted-recipeApp .mastercrafted-recipe-header img {
    width: 4rem;
    height: 4rem;
    min-width: 4rem;
    min-height: 4rem;
    margin: 0.3rem 1rem;
    border: none;
    border-radius: 5px;
}

#mastercrafted-recipeApp .mastercrafted-recipe-header button {
    width: 4rem;
    height: 4rem;
    min-width: 4rem;
    min-height: 4rem;
    font-size: 2rem;
}

#mastercrafted-recipeApp .mastercrafted-recipe-header h1 {
    border: none;
}

#mastercrafted-recipeApp .mastercrafted-options {
    display: flex;
    justify-content: space-around;
}

#mastercrafted-recipeApp .mastercrafted-options select {
    width: 100%;
}

#mastercrafted-recipeApp .mastercrafted-ingredient,
#mastercrafted-recipeApp .mastercrafted-result {
    border: 2px dashed var(--color-border-light-tertiary);
    border-radius: 5px;
    min-width: 100px;
    min-height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 1rem;
    gap: 1rem;
}

#mastercrafted-recipeApp .mastercrafted-ingredients,
#mastercrafted-recipeApp .mastercrafted-results {
    display: flex;
    gap: 1rem;
    padding: 1rem;
    justify-content: space-around;
    flex-wrap: wrap;
}

#mastercrafted-recipeApp .empty-ingredient,
#mastercrafted-recipeApp .empty-result {
    font-size: 5rem;
    color: var(--color-border-light-tertiary);
    pointer-events: none;
    line-height: 0;
}

#mastercrafted-recipeApp h3 {
    margin: 0 0 0.25em 0;
    padding: 2px 1rem;
    border-top: 2px groove #eeede0;
    border-bottom: 2px groove #eeede0;
    font-family: "Modesto Condensed", "Palatino Linotype", serif;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
}

#mastercrafted-recipeApp .component-img {
    height: 50px;
    width: 50px;
    background-size: contain;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

#mastercrafted-recipeApp .mastercrafted-recipe input {
    background-color: var(--color-text-hyperlink);
    text-align: center;
    right: 0;
    position: absolute;
    width: 10%;
    border: none;
    box-shadow: 0 0 5px var(--color-text-hyperlink);
    height: 1rem;
    border-radius: 0;
    border-bottom-left-radius: 10px;
    opacity: 0.7;
}

#mastercrafted-recipeApp .component-img.selected {
    outline: 2px solid var(--color-text-hyperlink);
    box-shadow: 0 0 10px var(--color-text-hyperlink);
}

#mastercrafted-recipeApp .mastercrafted-result.selected {
    border-color: var(--color-text-hyperlink);
    box-shadow: 0 0 10px var(--color-text-hyperlink);
}

#mastercrafted-recipeApp .mastercrafted-ingredient.owned {
    border-color: var(--color-level-info);
    box-shadow: 0 0 10px var(--color-level-info);
}

#mastercrafted-recipeApp .mastercrafted-ingredient.missing {
    border-color: var(--color-border-highlight-alt);
    box-shadow: 0 0 10px var(--color-border-highlight-alt);
}

#mastercrafted-recipeApp .component-img.missing,
.mastercrafted-result.missing {
    filter: grayscale(1);
}

#mastercrafted-recipeApp .tool {
    font-weight: 600;
    margin: 0rem 0.3rem;
}

#mastercrafted-recipeApp .page-title {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

#mastercrafted-recipeApp .hidden {
    display: none;
}

#mastercrafted-confirm-craft {
    padding-bottom: 1rem;
}

#mastercrafted-confirm-craft h3 {
    text-align: center;
}

#mastercrafted-confirm-craft div,
#mastercrafted-chat-message div {
    padding: 0.5rem 0;
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: space-around;
}

#mastercrafted-chat-message div {
    padding: 0.5rem 0;
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: flex-start;
}

#mastercrafted-confirm-craft a {
    font-size: large;
}

#mastercrafted-chat-message span {
    display: flex;
    align-items: center;
    gap: 1rem;
    background: #0000001f;
    border-radius: 3px;
    padding: 0.2rem;
    width: 100%;
}

#mastercrafted-chat-message img {
    width: 36px;
    height: 36px;
    border: none;
}

.mastercrafted-content-link {
    background: #ddd;
    padding: 1px 4px;
    border: 1px solid var(--color-border-dark-tertiary);
    border-radius: 2px;
    white-space: nowrap;
    word-break: break-all;
}

@keyframes box-shadow-pulse {
    0% {
        box-shadow: 0 0 0 var(--color-level-info);
    }
    100% {
        box-shadow: 0 0 5px var(--color-level-info);
    }
}

#mastercrafted-cauldronApp .ingredients-container {
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    flex-wrap: wrap;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    border-radius: 5px;
    border: 2px dashed var(--color-border-light-tertiary);
}

#mastercrafted-cauldronApp .cauldron-ingredient {
    width: 50px;
    height: 50px;
    background-size: contain;
    border-radius: 5px;
    background-position: center;
}

#mastercrafted-cauldronApp .placeholder-item {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
    gap: 1rem;
    font-size: large;
    opacity: 0.5;
}

#mastercrafted-cauldronApp .placeholder-item i {
    font-size: 2.5rem;
}

.timed-crafting-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.timed-crafting-list ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.timed-crafting-list > li {
    border: 2px dashed var(--color-border-light-2);
    padding: 0.3rem;
    border-radius: 5px;
    margin-bottom: 0.3rem;
}

.timed-crafting-list ul li {
    display: flex;
    align-items: center;
    gap: 1rem;
    background: #0000001f;
    border-radius: 3px;
    padding: 0.2rem;
    width: 100%;
    margin-bottom: 0.3rem;
}

.timed-crafting-list ul li img {
    width: 32px;
    height: 32px;
    object-fit: cover;
}

.timed-crafting-list strong {
    width: 100%;
    display: block;
    border-bottom: 1px solid var(--color-border-light-2);
    margin-bottom: 0.3rem;
}
